.DisplayEmployee ul li {
  list-style-type: none;
}

.search {
    padding: 10px;
    font-size: 16px;
    background-color: coral;
    border: none;
}
.DisplayEmployee img {
   border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.selected {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}
